body {
  background: #f9f7fe;
  font-family: "Hind Siliguri", sans-serif;
  color: #481677;
  text-align: center;
  margin-bottom: none;
}
.search-container {
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  margin-left: 25px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #481677;
  color: whitesmoke;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
button .bi {
  font-size: 27px;
  font-weight: bolder;
}
weekly-forecast {
  width: 40%;
}

.current-weather {
  width: 60%;
  margin-left: 0px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-left-color: 1px solid #f9f7fe;

  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.container {
  display: flex;
}

.list-group-item {
  background-color: transparent;
  color: whitesmoke;
  list-style: none;
  text-align: left;
}
.bi {
  color: whitesmoke;
  font-size: 50px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
}
.weekTemp {
  font-size: 20px;
  vertical-align: middle;
  color: whitesmoke;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
}
.weekDay {
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
  color: whitesmoke;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
}

.card-text2 {
  color: #481677;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.current-temperature-unit {
  font-size: 36px;
}
p {
  color: #481677;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
h3 {
  color: whitesmoke;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
h2 {
  color: #481677;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.78);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 20px;
  color: whitesmoke;

  font-size: 16px;
  font-weight: 400;
}
